.projectsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: var(--background);
}

.projectItem {
  text-decoration: none;
  cursor: pointer;
  background: var(--background-hover);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--border-subtle);
  transition: transform 0.3s ease-in-out;
}

.projectItem:hover {
  transform: scale(1.05);
}

.projectImageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.projectImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
}

.projectItem h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--foreground);
}

.projectItem p {
  font-size: 1rem;
  color: var(--foreground-dim);
  margin-top: 0.5rem;
  line-height: 1.4;
}

.projectItem a {
  display: inline-block;
  margin-top: 0.5rem;
  color: var(--foreground-hover);
  text-decoration: none;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.techBadge {
  background: var(--button-background);
  color: var(--foreground);
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  font-size: 0.85rem;
}

.projectFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.githubLink svg {
  fill: var(--foreground); /* Default color */
  transition: fill 0.3s ease-in-out;
}

.githubLink:hover svg {
  fill: var(--strong-hover); /* Color change on hover */
}

@media (max-width: 768px) {
  .projectsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
