.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  text-transform: capitalize;
  gap: 1rem;
  padding-bottom: 2rem;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding-bottom: 5rem;
  height: 80vh;
  text-align: center;
}

.heroContainer h1 {
  font-weight: 500;
  font-size: 62px;
}

.heroContainer h2 {
  color: var(--foreground-dim);
  border-bottom: 2px solid var(--strong-hover);
  font-size: 22px;
  padding-bottom: 1rem;
}

.heroContainer svg {
  cursor: pointer;
  color: var(--foreground-dim);
}

@media (max-width: 768px) {
  .heroContainer h2 {
    margin: 0 auto;
    width: 80%;
  }
}
